{% extends "base.html" %}
{% block title %}VMachines{% endblock %}
{% block content %}

<div class="container w-75">
            <div class="card text-center">
                <div class="card-body">
                    <h4>The VirSwitch application was created as part of the Graduate Work at the University of
                        Information Technology and Management in Bielsko-Biała under the supervision of
                        prof.&nbsp;Dr.&nbsp;Eng.,&nbsp;Dr.&nbsp;F.&nbsp;Piotr&nbsp;Marecki. It is a small example of
                        combining python, html, flask, and bash programming with networking technologies. </h4>
                </div>
            </div>
</div>


{% endblock %}