<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body style="background-image: url('../static/images/app_back.png')">
    <!-- left panel -->
        <div class="sidenav" style="background-image: url('../static/images/side_back.png')">
            <div class="text-center">
                <img class="text-center" src="{{ url_for('static', filename='images/logoWSIZ.png') }}" alt="Logo">
            </div>
            {% if admin %}
                <p></p>
                <h6 class="text-muted" style="text-align: center">VirSwitch</h6>
                <a href="{{url_for('vmachines')}}">VMachines</a>
                <a href="{{url_for('users')}}">Users</a>
                <a href="{{url_for('logs')}}">Logs</a>
                <a href="{{url_for('login')}}">Logout</a>
                <a href="{{url_for('about')}}">About</a>
            {% else %}
                <p></p>
                <h6 class="text-muted" style="text-align: center">VirSwitch</h6>
                <a href="{{url_for('vmachines')}}">VMachines</a>
                <a href="{{url_for('login')}}">Logout</a>
                <a href="{{url_for('about')}}">About</a>
            {% endif %}
        </div>
    <!-- left panel -->
    <!-- right panel -->
        <div class="main">
            <div><p> </p></div>
            {% block content %}
            {% endblock %}
        </div>
    <!-- right panel -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='css/main.css') }}"></script>
</body>
</html>