<!DOCTYPE html>
<html lang="en">
<head>
  <title>VirSwitch</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="1; url={{ (url_for('login')) }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>VirSwitch</title>
</head>
<body class="bg-dark" style="background-image: url('../static/images/login_back.png')"><p> </p>
    <div class="container rounded-3 border border-light" style="text-align: center;width: 15%;background-color: black;opacity: 75%;padding: 10px">
        <div>
            <h2 class="text-white">
                <span class="spinner-grow spinner-grow"></span>
                VirSwitch
            </h2>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>