<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>VirSwitch</title>
</head>
<body class="bg-dark" style="background-image: url('../static/images/login_back.png')"><p> </p>
    <div class="container rounded-3 border border-light" style="text-align: center;width: 15%;background-color: black;opacity: 90%;padding: 10px">
        <div>
            <h2 class="text-white">
                <span class="spinner-grow spinner-grow"></span>
                VirSwitch
            </h2>
        </div>
        <div>
            <button  type="button" class="btn btn-success w-50" data-bs-toggle="modal" data-bs-target="#log_in">
                LOGIN
            </button>
        </div>
    </div>
    <div class="modal fade" id="log_in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div><p> </p></div>
                <div class="text-center">
                    <img src="{{ url_for('static', filename='images/logoWSIZ.png') }}" alt="Logo">
                </div>
                <div class="modal-body" align="center">
                  Please enter login and password
                </div>
                <div align="center">
                    <form action="#" method="post">
                        <div>
                            <p><input type="text" class="form-control m1 w-auto" name="login_" placeholder="login" autocomplete="off" required/></p>
                        </div>
                        <div>
                            <p><input type="password" class="form-control w-auto" name="pass_" placeholder="password" required/></p>
                        </div>
                        <div>
                            <p><input type="submit" class="btn btn-success w-50" value="LOGIN"/></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>