{% extends "base.html" %}
{% block title %}VirSwitch{% endblock %}
{% block content %}
    {% if admin %}
        {% if u_list %}

            <div class="card" style="opacity: 95%">
                <div class="card-header">
                    <p></p>
                    <h3 class="card-title">{{ vm }}</h3>
                </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>VM USERS:</th>
                        <th>ALL NON-ADMIN-USERS:</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    <td>
                        <table class="table table-bordered">
{#                          {% for user in vm_users_set %}#}
                            {% for user in u_list %}
                            <tr>
                                <form action="{{ url_for('users') }}" method="POST">
                                    <td>{{ user[0] }}</td>
                                    <td width="10%"><button  type="submit" class="btn btn-warning w-100 btn-sm">==></button></td>
                                </form>
                            </tr>
                            {% endfor %}
                        </table>
                            <form action="{{ url_for('users') }}" method="POST">
                                <p style="text-align: center"><button type="submit" class="btn btn-secondary btn-sm w-50">ALL USERS</button></p>
                            </form>
                    </td>

                    <td>
                        <table class="table table-bordered">
{#                          {% for user in vm_users_list %}#}
                            {% for user in u_list %}
                            <tr>
                                <form action="{{ url_for('add_vm_user',vm=vm) }}" method="POST">
                                    <td width="10%"><button  type="submit" class="btn btn-primary w-100 btn-sm"><==</button></td>
                                    <td>{{ user[0] }}</td>
                                </form>
                            </tr>
                            {% endfor %}
                        </table>
                                <form action="{{ url_for('users') }}" method="POST">
                                    <p style="text-align: center"><button type="button" class="btn btn-success btn-sm w-50" data-bs-toggle="modal" data-bs-target="#add_new_user">ADD NEW USER</button></p>
                                </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


<div class="modal fade" id="add_new_user">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">ADD NEW USER</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div align="center">
                    <form action="{{ url_for('add_vm_user',vm=vm) }}" method="POST">
                        <div class="input-group w-75 m-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text">Login</label>
                            </div>
                            <input type="text" class="form-control" name="login_" autocomplete="off" id="validationDefault01" required/>
                        </div>
                        <div class="input-group w-75 m-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text">Password</label>
                            </div>
                            <input type="text" class="form-control" name="pass_" autocomplete="off" required/>
                        </div>
{#                        <div class="input-group w-75 m-3">#}
{#                            <div class="input-group-prepend">#}
{#                                <label class="input-group-text">Virtual Machines:</label>#}
{#                            </div>#}
{#                            <select class="form-select form-select" style="width: 225px" size="10" name="vm_" multiple aria-label="multiple select example" required>#}
{#                              <option selected>all</option>#}
{#                                {% for vm in v_list %}#}
{#                                    <option value={{ vm[0] }}>{{ vm[0] }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <p style="font-size: small">Ctrl for multiple selection / option "all" work only for admin account </p>#}

{#                        <div class="input-group w-75 m-3">#}
{#                          <div class="input-group-prepend">#}
{#                            <label class="input-group-text">User type</label>#}
{#                          </div>#}
{#                            <select class="form-select" name="is_admin" required>#}
{#                                <option selected ></option>#}
{#                                <option value="yes">Admin</option>#}
{#                                <option value="no">Not Admin</option>#}
{#                            </select>#}
{#                        </div>#}
                        <div>
                               <input type="hidden" name="is_admin" value="no">
                               <input type="hidden" name="vm_" value="-">
                            <p><input type="submit" class="btn btn-success w-50 m-2" value="ADD"/></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{#<div class="modal fade" id="delete_user">#}
{#        <div class="modal-dialog modal-dialog-centered">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                  <h5 class="modal-title">CONFIRM USER LOGIN</h5>#}
{#                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>#}
{#                </div>#}
{#                <div align="center">#}
{#                    <form action="{{ url_for('delete_user') }}" method="post">#}
{#                        <div class="input-group w-75 m-3">#}
{#                            <div class="input-group-prepend">#}
{#                            <label class="input-group-text">login</label>#}
{#                            </div>#}
{#                            <input type="text" class="form-control" name="login_confirm" autocomplete="off" id="validationDefault02" required/>#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <p><input type="submit" class="btn btn-warning w-50 m-2" value="CONFIRM"/></p>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#<div class="modal fade" id="add_vmachine">#}
{#        <div class="modal-dialog modal-dialog-centered">#}
{#            <div class="modal-content">#}
{#                 <div align="center">#}
{#                    <form action="#" method="post">#}
{##}
{#                        <div class="form-check">#}
{#                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">#}
{#                            <label class="form-check-label" for="defaultCheck1">#}
{#                            Default checkbox#}
{#                            </label>#}
{#                        </div>#}
{#                        <div>#}
{#                            <p><input type="submit" class="btn btn-success w-50 m-2" value="ADD"/></p>#}
{#                        </div>#}
{##}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    {% else %}


<form action="{{ url_for('users') }}" method="post">
    <div>
        <p>
            <input type="submit" class="btn btn-primary m-1" value="GET USER LIST"/>
            <button  type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#add_user">ADD USER</button>
        </p>
    </div>
</form>
    {% endif %}
{% else %}
Admin?
{% endif %}

{% endblock %}