{% extends "base.html" %}
{% block title %}VirSwitch{% endblock %}
{% block content %}
    {% if admin %}
        {% if u_list %}
            <div class="card" style="opacity: 95%">
                <div class="card-header">
                    <p></p>
                    <h3 class="card-title">{{ vm }}</h3>
                </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th  class="w-50">VM USERS:</th>
                        <th  class="w-50">ALL NON-ADMIN-USERS:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>
                        <table class="table table-bordered">
                            {% for user in vm_users_set %}
                            <tr>
                                <form action="{{ url_for('remove_user_from_vm') }}" method="POST">
                                    <td>
                                        {{ user }}
                                    </td>
                                    <td style="width: 10%">
                                        <input type="hidden" name="vm" value="{{ vm }}">
                                        <input type="hidden" name="user_remove" value="{{ user }}">
                                        <button  type="submit" class="btn btn-warning w-100 btn-sm">REMOVE</button>
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table class="table table-bordered">
                            {% for user in all_users_list %}
                            <tr>
                                <form action="{{ url_for('add_user_to_vm') }}" method="POST">
                                    <td style="width: 10%">
                                        <input type="hidden" name="vm" value="{{ vm }}">
                                        <input type="hidden" name="user_add" value="{{ user }}">
                                        <button  type="submit" class="btn btn-primary w-100 btn-sm">ADD</button></td>
                                    <td>{{ user }}</td>
                                </form>
                            </tr>
                            {% endfor %}
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        <table class="table table-borderless">
            <tr>
                <td class="w-50">
                    <form action="{{ url_for('users') }}" method="POST">
                        <p><button type="submit" class="btn btn-secondary btn-sm w-50">ALL USERS</button></p>
                    </form>
                </td>
                <td class="w-50">
                    <form action="{{ url_for('add_vm_user') }}" method="POST">
                        <p><button type="button" class="btn btn-success btn-sm w-50" data-bs-toggle="modal" data-bs-target="#add_new_user">ADD NEW USER</button></p>
                    </form>
                </td>
            </tr>
        </table>
        </div>
    </div>
    {# modal for add user to vm #}
    <div class="modal fade" id="add_new_user">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">ADD NEW USER</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div align="center">
                    <form action="{{ url_for('add_vm_user',vm=vm) }}" method="POST">
                        <div class="input-group w-75 m-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text">Login</label>
                            </div>
                            <input type="text" class="form-control" name="login_" autocomplete="off" id="validationDefault01" required/>
                        </div>
                        <div class="input-group w-75 m-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text">Password</label>
                            </div>
                            <input type="text" class="form-control" name="pass_" autocomplete="off" required/>
                        </div>
                        <div>
                               <input type="hidden" name="is_admin" value="no">
                               <input type="hidden" name="vm_" value="-">
                            <p><input type="submit" class="btn btn-success w-50 m-2" value="ADD"/></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
<form action="{{ url_for('users') }}" method="post">
    <div>
        <p>
            <input type="submit" class="btn btn-primary m-1" value="GET USER LIST"/>
            <button  type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#add_user">ADD USER</button>
        </p>
    </div>
</form>
    {% endif %}
{% else %}
    <div class="container w-75">
        <div class="card text-center">
            <div class="card-body">
                <h4>Please contact the administrator.</h4>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}