{% extends "base.html" %}
{% block title %}VirSwitch{% endblock %}
{% block content %}
    {% if admin %}
        {% if v_list %}
            <meta http-equiv="refresh" content="15; url={{ (url_for('vmachines')) }}"/>
            <div class="card" style="opacity: 95%">
            <div class="card-header">
                <table style="width: 100%">
                    <thead>
                        <tr style="font-weight: bolder;font-size: large">
                            <td style="width: 10%">
                                <form action="{{ url_for('vmachines') }}" method="post">
                                    <div>
                                        <button type="submit" class="btn btn-warning">REFRESH</button>
                                    </div>
                                </form>
                            </td>
                            <td style="width: 15%">user:&nbsp; {{ active_u }}</td>
                            <td style="width: 15%">SERVER MEMORY(MB):</td>
                            <td>TOTAL:&nbsp; {{ host_info[1] }}</td>
                            <td>USED:&nbsp; {{ host_info[2] }}</td>
                            <td>FREE:&nbsp; {{ host_info[3] }}</td>
                            <td>CACHE:&nbsp; {{ host_info[5] }}</td>
                            <td>AVAILABLE:&nbsp; {{ host_info[6] }}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>VIRTUAL MACHINES:</th>
                            <th style="width: 20%">
                                <div class="text-center">
                                    <table>
                                        <tr>
                                            <h6>(ONLY OFFLINE CHANGES)</h6>
                                        </tr>
                                        <tr>
                                            <td style="width: 40%">MAX CORES</td>
                                            <td>MAX MEMORY (MB)</td>
                                        </tr>
                                    </table>
                                </div>
                            </th>
                            <th style="width: 20%">
                                <div class="text-center">
                                    <table>
                                        <tr>
                                            <h6>(ONLY ONLINE CHANGES)</h6>
                                        </tr>
                                        <tr>
                                            <td style="width: 40%">USED CORES</td>
                                            <td>USED MEMORY (MB)</td>
                                        </tr>
                                    </table>
                                </div>
                            </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for line in v_list %}
                        {% if line[1] == "running" %}
                            <tr style="background-color: #ddffdd">
                        {% else %}
                            <tr style="background-color: #f7f7f7">
                        {% endif %}
                                <td> {# vm machines info #}
                                    <table>
                                        <tr>
                                            <th>{{ line[0] }}</th>
                                            <th style="width: 10%">{{ line[1] }}</th>
                                        </tr>
                                        <tr>
                                            <td>ip: {{ line[5] }}</td>
                                            <td>---
                                                <button  type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#description">Description</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>pass: {{ line[6] }}</td>
                                            <td>
                                                <form action="{{ url_for('vm_details',vm=line[0]) }}" method="POST">
{#                                                <form action="{{ url_for('vm_details') }}" method="POST">#}
                                                    <input class="button btn-success btn-sm w-100" type="submit" value="EDIT VM">
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td style="width: 20%"> {# change  max cores/memory #}
                                    <table class="text-center w-100">
                                        <tr>
                                            <th style="width: 45%"><h3>{{ line[2] }}</h3></th>
                                            <th style="width: 55%"><h3>{{ line[3] }}</h3></th>

                                        </tr>
                                        <tr>
                                            <td>
                                                <form action="" method="POST" class="input-group">
                                                    <select name="new_max_memory" class="form-select form-select-sm" aria-label="Select max memory" required>
                                                        <option selected ></option>
                                                        {% for i in range(1,5) %}
                                                        <option value={{ i }}>{{ i }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input class="button btn-warning btn-sm" type="submit" value="CHANGE">
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{{ url_for('change_max_memory', vm=line[0]) }}" method="POST" class="input-group">
                                                    <select name="new_max_memory" class="form-select form-select-sm" aria-label="Select max memory" required>
                                                        <option selected ></option>
                                                        {% for i in range(512,16385,512) %}
                                                        <option value={{ i }}>{{ i }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input class="button btn-warning btn-sm" type="submit" value="CHANGE">
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td style="width: 20%"> {# change used cores/memory #}
                                    <table class="text-center w-100">
                                        <tr>
                                            <th style="width: 45%"><h3>{{ line[2] }}</h3></th>
                                            <th style="width: 55%"><h3>{{ line[4] }}</h3></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form action="" method="POST" class="input-group">
                                                    <select name="new_memory" class="form-select form-select-sm" aria-label="Select memory" required>
                                                        <option selected ></option>
                                                        {% for i in range(1,5) %}
                                                        <option value={{ i }}>{{ i }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input class="button btn-info btn-sm" type="submit" value="CHANGE">
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{{ url_for('change_memory', vm=line[0]) }}" method="POST" class="input-group">
                                                    <select name="new_memory" class="form-select form-select-sm" aria-label="Select memory" required>
                                                        <option selected ></option>
                                                        {% for i in range(512,line[3]+ 1,512) %}
                                                        <option value={{ i }}>{{ i }} MB</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input class="button btn-info btn-sm" type="submit" value="CHANGE">
                                                </form>
                                            </td>

                                        </tr>
                                    </table>
                                </td>

                                <td style="width: 15%"> {# controlers #}
                                    <table class="tab-content w-100">
                                        <tr>
                                            <td style="width: 50%">
                                                <form action="{{ url_for('start_vm',vm=line[0]) }}" method="POST">
                                                    <input class="button btn-success btn-sm w-100" type="submit" value="START">
                                                </form>
                                            </td>
                                            <td style="width: 50%">
                                                <form action="{{ url_for('restart_vm',vm=line[0]) }}" method="POST">
                                                    <input class="button btn-info btn-sm w-100" type="submit" value="REBOOT">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form action="{{ url_for('stop_vm',vm=line[0]) }}" method="POST">
                                                    <input class="button btn-dark btn-sm w-100" type="submit" value="STOP">
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{{ url_for('kill_vm',vm=line[0]) }}" method="POST">
                                                    <input class="button btn-danger btn-sm w-100" type="submit" value="FORCE STOP">
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="modal fade" id="description">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">CONFIRM USER LOGIN</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div align="center">
                    <form action="{{ url_for('delete_user') }}" method="post">
                        <div class="input-group w-75 m-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text">login</label>
                            </div>
                            <input type="text" class="form-control" name="login_confirm" autocomplete="off" id="validationDefault02" required/>
                        </div>

                        <div>
                            <p><input type="submit" class="btn btn-warning w-50 m-2" value="CONFIRM"/></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        {% else %}
            <form action="{{ url_for('vmachines') }}" method="post">
                <div>
                    <p><button type="submit" class="btn btn-primary btn-block">GET LIST VMACHINES</button></p>
                </div>
            </form>
        {% endif %}
    {% else %}
        {% if v_list %}
            <meta http-equiv="refresh" content="15; url={{ (url_for('vmachines')) }}" />
            <div class="card" style="opacity: 95%">
            <div class="card-header">
                <table style="width: 100%">
                    <thead>
                        <tr style="font-weight: bolder;font-size: large">
                            <td style="width: 10%">
                                <form action="{{ url_for('vmachines') }}" method="post">
                                    <div>
                                        <button type="submit" class="btn btn-warning">REFRESH</button>
                                    </div>
                                </form>
                            </td>
                            <td style="width: 15%">user:&nbsp; {{ active_u }}</td>

                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr style="font-size: small">
                            <th>VIRTUAL MACHINES:</th>
                            <th>STATUS:</th>
                            <th>CPU:</th>
                            <th>MAX MEMORY (MB):</th>
                            <th>USED MEMORY (MB):</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for line in v_list %}
                        {% if line[1] == "running" %}
                            <tr style="background-color: #ddffdd">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td>
                                    {{ line[0] }}
                                </td>
                                <td style="width: 5%">
                                    {{ line[1] }}
                                </td>
                                <td style="width: 5%">
                                    {{ line[2] }}
                                </td>
                                <td style="width: 10%">
                                    {{ line[3] }}
                                </td>

                                <td style="width: 10%">
                                    {{ line[4] }}
                                </td>

                                <td style="width: 5%">
                                    <form action="{{ url_for('restart_vm',vm=line[0]) }}" method="POST">
                                        <input class="button btn-info btn-sm w-100" type="submit" value="REBOOT">
                                    </form>
                                </td>
                                <td style="width: 5%">
                                    <form action="{{ url_for('start_vm',vm=line[0]) }}" method="POST">
                                        <input class="button btn-success btn-sm w-100" type="submit" value="START">
                                    </form>
                                </td>
                                <td style="width: 5%">
                                    <form action="{{ url_for('stop_vm',vm=line[0]) }}" method="POST">
                                        <input class="button btn-dark btn-sm w-100" type="submit" value="STOP">
                                    </form>
                                </td>
                                <td style="width: 8%">
                                    <form action="{{ url_for('kill_vm',vm=line[0]) }}" method="POST">
                                        <input class="button btn-danger btn-sm w-100" type="submit" value="FORCE STOP">
                                    </form>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% else %}
            <form action="{{ url_for('vmachines') }}" method="post">
                <div>
                    <p><button type="submit" class="btn btn-primary btn-block">GET LIST VMACHINES</button></p>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}